.page {
    @include ccc;
    width: 100%;
    min-height: calc(100vh - 70px);

    .page-container {
        @include ccc;
        padding: 20px;
        border-radius: 15px;
        border: 1px solid black;

        form {
            @include cca;

            input {
                margin: 5px 0px;
            }
        }

        button {
            margin: 5px;
        }
    }
}